.form-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: -webkit-fill-available;
    will-change: opacity;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    touch-action: pan-y;
    overscroll-behavior: contain;
    padding: 60px 0;
    padding-bottom: calc(60px + env(safe-area-inset-bottom));
    background-color: rgba($blue3, 0.6);
    .container {
        flex-shrink: 0;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        .modal-content {
            position: relative;
            max-width: 720px;
            margin: 0 auto;
            padding: 51px 40px 60px 40px;
            border-radius: 16px;
            background-color: $grey1;
            .modal-content__close-btn {
                position: absolute;
                top: 12px;
                right: 12px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: inherit;
                background-color: transparent;
                svg {width: 20px;}
            }
            @media (hover: hover) and (pointer: fine) {
                .modal-content__close-btn {
                    svg {transition: stroke 0.3s;}
                }
                .modal-content__close-btn:hover {
                    svg {stroke: $blue2;}
                }
            }
            .modal-content__title {
                font-size: 24px;
                line-height: 110%;
                margin-left: 24px;
                margin-right: 24px;
                margin-bottom: 51px;
                text-align: center;
            }
            form {
                .form__input-fields {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 40px;
                    row-gap: 35px;
                    margin-bottom: 15px;
                    .input-fields__field {
                        label {
                            font-family: "CenturyGothic-Bold";
                            span {color: $red1;}
                        }
                        input, textarea {
                            width: 100%;
                            font-size: 18px;
                            margin-top: 15px;
                            border: 1px solid $blue1;
                            background-color: $white;
                        }
                        input::placeholder, textarea::placeholder {color: $blue4;}
                        input {
                            height: 60px;
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                        textarea {
                            height: 120px;
                            padding: 17px 20px;
                        }
                    }
                    .input-fields__field:last-child {grid-column: 1/3;}
                }
                .form__note {
                    display: flex;
                    margin-left: 2px;
                    span:first-child {
                        font-family: "CenturyGothic-Bold";
                        transform: translateY(1px);
                        color: $red1;
                    }
                    span:last-child {margin-left: 6px;}
                }
                .form__group {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    column-gap: 20px;
                    margin-top: 18px;
                    .group__policy {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        column-gap: 12px;
                        align-items: center;
                        transform: translateY(-1px);
                        .policy__checkbox {
                            grid-row: 1/3;
                            display: grid;
                            input, span {
                                grid-column: 1/2;
                                grid-row: 1/2;
                            }
                            input {
                                width: 22px;
                                height: 22px;
                                border-radius: 50%;
                                border: 1px solid $blue1;
                                background-color: transparent;
                                &:focus-visible {
                                    box-shadow: none;
                                    outline: 2px solid $blue2;
                                    outline-offset: 2px;
                                }
                            }
                            span {
                                justify-self: center;
                                align-self: center;
                                width: 10px;
                                height: 10px;
                                will-change: transform;
                                opacity: 0;
                                transform: scale(0);
                                transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s;
                                border-radius: 50%;
                                background-color: $blue1;
                                pointer-events: none;
                            }
                            input:checked ~ span {
                                opacity: 1;
                                transform: scale(1);
                            }
                        }
                        label, a {
                            justify-self: start;
                            line-height: 140%;
                        }
                        label {align-self: end;}
                        a {
                            align-self: start;
                            color: inherit;
                            @media (hover: hover) and (pointer: fine) {
                                transition: color 0.3s;
                                &:hover {color: $red1;}
                            }
                        }
                    }
                }
            }
            .modal-content__success {
                display: none;
                flex-direction: column;
                p {line-height: 140%;}
                p:first-child {
                    font-family: "CenturyGothic-Bold";
                    margin-right: 24px;
                    margin-bottom: 16px;
                }
                .success__btn {
                    align-self: center;
                    margin-top: 52px;
                }
            }
            .blue-btn {
                font-family: "CenturyGothic-Bold";
                width: 240px;
                height: 60px;
            }
        }
    }
}

.form-overlay._is-open {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1688.9px) and (min-width: 360px) {
    .form-overlay {
        padding: calc(30px + (60 - 30) * ((100vw - 360px) / (1688 - 360))) 0;
        padding-bottom: calc(30px + (60 - 30) * ((100vw - 360px) / (1688 - 360)) + env(safe-area-inset-bottom));
        .container {
            .modal-content {
                padding-top: calc(24px + (51 - 24) * ((100vw - 360px) / (1688 - 360)));
                padding-bottom: calc(30px + (60 - 30) * ((100vw - 360px) / (1688 - 360)));
                border-radius: calc(8px + (16 - 8) * ((100vw - 360px) / (1688 - 360)));
                .modal-content__title {
                    font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (1688 - 360)));
                    margin-bottom: calc(22px + (51 - 22) * ((100vw - 360px) / (1688 - 360)));
                }
                form {
                    .form__input-fields {
                        row-gap: calc(20px + (35 - 20) * ((100vw - 360px) / (1688 - 360)));
                        margin-bottom: calc(12px + (15 - 12) * ((100vw - 360px) / (1688 - 360)));
                        .input-fields__field {
                            input, textarea {
                                font-size: max(16px, calc(14px + (18 - 14) * ((100vw - 360px) / (1688 - 360))));
                                margin-top: calc(12px + (15 - 12) * ((100vw - 360px) / (1688 - 360)));
                            }
                            input {
                                height: calc(40px + (60 - 40) * ((100vw - 360px) / (1688 - 360)));
                                padding-left: calc(15px + (20 - 15) * ((100vw - 360px) / (1688 - 360)));
                                padding-right: calc(15px + (20 - 15) * ((100vw - 360px) / (1688 - 360)));
                            }
                            textarea {
                                height: calc(100px + (120 - 100) * ((100vw - 360px) / (1688 - 360)));
                                padding: calc(8px + (17 - 8) * ((100vw - 360px) / (1688 - 360)))
                                         calc(15px + (20 - 15) * ((100vw - 360px) / (1688 - 360)));
                            }
                        }
                    }
                    .form__group {margin-top: calc(12px + (18 - 12) * ((100vw - 360px) / (1688 - 360)));}
                }
                .modal-content__success {
                    p:first-child {margin-bottom: calc(9px + (16 - 9) * ((100vw - 360px) / (1688 - 360)));}
                    .success__btn {margin-top: calc(23px + (52 - 23) * ((100vw - 360px) / (1688 - 360)));}
                }
                .blue-btn {
                    width: calc(160px + (240 - 160) * ((100vw - 360px) / (1688 - 360)));
                    height: calc(40px + (60 - 40) * ((100vw - 360px) / (1688 - 360)));
                }
            }
        }
    }
}

@media (max-width: 1688.9px) and (min-width: 768px) {
    .form-overlay {
        .container {
            .modal-content {
                max-width: calc(632px + (720 - 632) * ((100vw - 768px) / (1688 - 768)));
                padding-left: calc(26px + (40 - 26) * ((100vw - 768px) / (1688 - 768)));
                padding-right: calc(26px + (40 - 26) * ((100vw - 768px) / (1688 - 768)));
                .modal-content__close-btn {
                    top: calc(10px + (12 - 10) * ((100vw - 768px) / (1688 - 768)));
                    right: calc(10px + (12 - 10) * ((100vw - 768px) / (1688 - 768)));
                }
                .modal-content__title {
                    margin-left: calc(34px + (24 - 34) * ((100vw - 768px) / (1688 - 768)));
                    margin-right: calc(34px + (24 - 34) * ((100vw - 768px) / (1688 - 768)));
                }
                form {
                    .form__input-fields {column-gap: calc(26px + (40 - 26) * ((100vw - 768px) / (1688 - 768)));}
                }
                .modal-content__success {
                    p:first-child {margin-right: calc(34px + (24 - 34) * ((100vw - 768px) / (1688 - 768)));}
                }
            }
        }
    }
}

@media (max-width: 900.9px) {
    .form-overlay {
        .container {
            .modal-content {
                form {
                    .form__note {
                        span:first-child {transform: none;}
                    }
                }
            }
        }
    }
}

@media (max-width: 767.9px) {
    .form-overlay {
        .container {
            .modal-content {
                form {
                    .form__group {
                        .group__policy {
                            column-gap: 10px;
                            .policy__checkbox {
                                input {
                                    width: 20px;
                                    height: 20px;
                                }
                                span {
                                    width: 9px;
                                    height: 9px;
                                }
                            }
                        }
                    }
                }
                .blue-btn {font-family: "CenturyGothic-Regular";}
            }
        }
    }
}

@media (max-width: 767.9px) and (min-width: 360px) {
    .form-overlay {
        .container {
            .modal-content {
                padding-left: calc(16px + (80 - 16) * ((100vw - 360px) / (1688 - 360)));
                padding-right: calc(16px + (80 - 16) * ((100vw - 360px) / (1688 - 360)));
                .modal-content__close-btn {
                    top: calc(6px + (12 - 6) * ((100vw - 360px) / (767 - 360)));
                    right: calc(6px + (12 - 6) * ((100vw - 360px) / (767 - 360)));
                }
                .modal-content__title {
                    margin-left: calc(36px + (29 - 36) * ((100vw - 360px) / (767 - 360)));
                    margin-right: calc(36px + (29 - 36) * ((100vw - 360px) / (767 - 360)));
                }
                form {
                    .form__input-fields {column-gap: calc(16px + (80 - 16) * ((100vw - 360px) / (1688 - 360)));}
                }
                .modal-content__success {
                    p:first-child {margin-right: calc(36px + (29 - 36) * ((100vw - 360px) / (767 - 360)));}
                }
            }
        }
    }
}

@media (max-width: 600.9px) {
    .form-overlay {
        .container {
            .modal-content {
                .modal-content__title {
                    margin-top: 3px;
                    span {
                        display: block;
                        font-size: 1.125em;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        margin-bottom: 2px;
                    }
                }
                form {
                    .form__input-fields {
                        grid-template-columns: 1fr;
                        .input-fields__field:last-child {grid-column: auto;}
                    }
                    .form__note {
                        span:last-child {margin-left: 5px;}
                    }
                    .form__group {
                        grid-template-columns: 1fr;
                        .group__policy {transform: none;}
                        .group__btn {justify-self: center;}
                    }
                }
            }
        }
    }
}

@media (max-width: 600.9px) and (min-width: 360px) {
    .form-overlay {
        .container {
            .modal-content {
                form {
                    .form__group {
                        row-gap: calc(24px + (29 - 24) * ((100vw - 360px) / (600 - 360)));
                        .group__policy {margin-top: calc(2px + (4 - 2) * ((100vw - 360px) / (600 - 360)));}
                    }
                }
            }
        }
    }
}

@media (max-width: 359.9px) {
    .form-overlay {
        padding: 30px 0;
        padding-bottom: calc(30px + env(safe-area-inset-bottom));
        .container {
            .modal-content {
                padding: 24px 16px 30px 16px;
                border-radius: 8px;
                .modal-content__close-btn {
                    top: 6px;
                    right: 6px;
                }
                .modal-content__title {
                    font-size: 18px;
                    margin-left: 36px;
                    margin-right: 36px;
                    margin-bottom: 22px;
                }
                form {
                    .form__input-fields {
                        row-gap: 20px;
                        margin-bottom: 12px;
                        .input-fields__field {
                            input, textarea {
                                font-size: 16px;
                                margin-top: 12px;
                            }
                            input {
                                height: 40px;
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                            textarea {
                                height: 100px;
                                padding: 8px 15px;
                            }
                        }
                    }
                    .form__group {
                        row-gap: 24px;
                        margin-top: 12px;
                        .group__policy {margin-top: 2px;}
                    }
                }
                .modal-content__success {
                    p:first-child {
                        margin-right: 36px;
                        margin-bottom: 9px;
                    }
                    .success__btn {margin-top: 23px;}
                }
                .blue-btn {
                    width: 160px;
                    height: 40px;
                }
            }
        }
    }
}